@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito-Medium.ttf');
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }
}