// $fa-font-path: 'awesome/webfonts';

// @import "./awesome/scss/fontawesome";
// @import "./awesome/scss/solid";

$primary: rgb(89, 161, 255);
$secondary: rgb(228, 228, 228);
$gold: rgb(255, 204, 65)

