$primary: rgb(89, 161, 255);
$primary-darker: rgb(54, 130, 230);
$secondary: rgb(192, 192, 192);
$warning: rgb(255, 204, 65);
$danger: rgb(255, 78, 78);
$success: rgb(37, 214, 2);
$mainBG: rgb(250, 250, 250);
$dark: #000;
$light: #fff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito-Medium.ttf');
  font-weight: normal;
}

body {
  background-color: $mainBG;
}

@mixin block-style {
  background-color: $light;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  border-radius: 12px;
}
